# Visual Studio cache
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Bb]uilds/

# NuGet
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Temporary files
*.tmp
*.temp
*.cache

# Debug/Release output
Debug/
Release/

# Other files
*.vsidx
*.vscode/
